* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #fafafa;
}

/* HEADER */
.header-chocholate {
  margin: 26px 32px 34px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-logo {
  height: 24px;
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #111;
}

.nav-ul-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.header-socials {
  display: flex;
  gap: 18px;
  height: 24px;
}

.header-socials-img:hover {
  background-color: #fd9222;
}

/* HERO (PROIECT) */
.hero-page {
  margin: 0px 32px 72px 32px;
}

.hero-div {
  /* max-width: 1136px; */
  background-image: url(../images/chocolate-covered-cocoa-powder.png);
  border: 1px solid #000;
  height: 600px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.hero-container {
  margin-bottom: 40px;
  padding: 0px 40px;
  display: flex;
  /* width: 1056px; */
  height: 179px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero-title {
  max-width: 484px;
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 121.429%;
  letter-spacing: -0.84px;
}

.hero-cointainer-second {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: flex-end;
  justify-content: space-between;
}

.button-container-header {
  display: flex;
  /* width: 341px; */
  height: 45px;
  align-items: flex-start;
  gap: 14px;
}

.button-buy-now {
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: #fd9222;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button-buy-now:hover,
.button-buy-now:focus {
  background: #fcf1e0;
  color: #fd9222;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button-how-made {
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: transparent;

  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button-how-made:hover,
.button-how-made:focus {
  border: 1px solid #fd9222;
  color: #fd9222;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.scroll-down-div {
  display: flex;
  width: 130px;
  height: 38px;
  align-items: center;
  gap: 14px;
}

.scroll-down-div:hover .scroll-text,
.scroll-down-div:focus {
  color: #fd9222;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
  letter-spacing: -0.42px;
}

.scroll-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
  letter-spacing: -0.42px;
}

.scroll-down-button {
  border-radius: 50px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down-button svg {
  fill: #fd9222;
}

.scroll-down-div:hover .scroll-down-button {
  background-color: #fd9222;
}

.scroll-down-div:hover .scroll-down-button svg {
  fill: white;
}
/* HERO END (PROIECT) */

/* SECTION 2 */
.section-two-div {
  background-color: #1e1823;
  display: flex;
  padding: 50px;
  justify-content: space-between;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  gap: 70px;
}

.section-two-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  width: 308px;
}

.section-two-image-div {
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-two-line-div {
  display: flex;
  gap: 18px;
}

.section-two-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}

.section-two-header {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section-two-p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

/* SECTIOn 3 (PROIECT) */

.section-three-div {
  margin: 128px 31px 128px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.section-three-div-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.section-three-header {
  width: 411px;
  color: #111;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.667%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.section-three-span {
  color: #fd9222;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.section-three-p {
  width: 486px;
  color: #111;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.28px;
}

/* FLIP */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  justify-content: center;
  align-items: center;
}

.section-three-cards {
  /* display: flex; */
  background-color: transparent;

  perspective: 1000px;
}

.section-three-flip-cards {
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.section-three-card-chocolate {
  width: 270px;
  display: flex;
  padding: 28px 36px 28px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
  border-radius: 15px;
  background: #fd9222;

  backface-visibility: hidden;
}

.section-three-card-chocolate-p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 128.571%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.section-three-flip-card-chocolate {
  border-radius: 15px;
  background: #fff;

  display: flex;
  flex-direction: column;
  width: 270px;
  height: 270px;
  padding: 20px;
  justify-content: center;
  /* align-items: center; */

  position: absolute;
  top: 0;
  left: 0;
  transform: rotatey(-180deg);
  backface-visibility: hidden;
}

.section-three-flip-card-chocolate-cover-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  padding-bottom: 14px;
}

.section-three-flip-card-chocolate-div {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.section-three-flip-card-chocolate-header {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.section-three-flip-card-chocolate-p {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-radius: 35px;
  background: #fd9222;

  color: #fff;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.section-three-flip-card-chocolate-p-p {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-radius: 35px;
  border: 1px solid #fd9222;
  background: #fafafa;

  color: #111;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.section-three-flip-card-chocolate-outer-p {
  width: 230px;
  height: 162px;

  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.section-three-card-milk {
  width: 270px;
  display: flex;
  padding: 28px 36px 28px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;

  backface-visibility: hidden;
}

.section-three-card-milk-p {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 128.571%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.section-three-card-nuts {
  width: 270px;
  display: flex;
  padding: 28px 36px 28px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
  border-radius: 15px;
  background: #1e1823;

  backface-visibility: hidden;
}

.section-three-card-nuts-p {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 128.571%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.section-three-card-sweet {
  width: 270px;
  display: flex;
  padding: 28px 36px 28px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;

  backface-visibility: hidden;
}

.section-three-card-sweet-p {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 128.571%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.section-three-cards:hover .section-three-flip-cards {
  transform: rotatey(-180deg);
}
/* FLIP END */
/* SECTION 3 END (PROIECT) */

/* MODAL BUY NOW (PROIECT) */
.modal-buy-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: auto;
}

.modal-buy-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal-buy {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 100px;
  margin-bottom: 50px; */
  width: 609px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #fafafa;
  position: relative;
}

.modal-buy-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
  border: none;
}

.modal-buy-button-close:hover .modal-buy-button-close-svg {
  stroke: #fd9222;
}

.modal-buy-header {
  margin-top: 48px;
  margin-bottom: 32px;
  color: #fd9222;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.667%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.modal-buy-header-span {
  color: #111;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.667%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.modal-buy-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.modal-buy-list-cards {
  padding: 24px 20px 18px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}

.modal-buy-list-button {
  display: flex;
  padding: 8px 27px;
  justify-content: center;
  align-items: center;
  gap: 14px;

  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;

  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buy-menu-form {
  padding: 40px 48px 48px 48px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.buy-menu-lable-text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
  letter-spacing: -0.28px;
}

.buy-menu-input-div-phone {
  position: relative;
}

.flag {
  position: absolute;
  top: 50%;
  left: 24px;

  display: flex;
  gap: 18px;
  padding-right: 25px;

  background: #fafafa;
  box-shadow: 2.722px 0px 0px 0px rgba(0, 0, 0, 0.1);

  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.buy-menu-input-div-credit-card {
  position: relative;
}

.master-card-logo {
  position: absolute;
  top: 50%;
  right: 24px;
}

.buy-menu-input-text {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);

  background-color: transparent;
}

.buy-menu-lable-div-personal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.buy-menu-lable-div-personal-input {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

.buy-menu-input-text-personal {
  display: flex;
  width: 246px;
  padding: 22px 24px;
  align-items: center;
  gap: 40px;

  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.buy-menu-input-text-email {
  display: flex;
  width: 513px;
  padding: 22px 24px;
  align-items: flex-start;
  gap: 40px;

  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.buy-menu-input-text-phone {
  display: flex;
  width: 513px;
  padding: 17px 24px;
  align-items: flex-start;
  gap: 44px;

  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  padding-left: 165px;
}

.buy-menu-input-text-credit-card {
  display: flex;
  width: 513px;
  padding: 22px 24px;
  align-items: flex-start;
  gap: 40px;

  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.buy-menu-input-text-textarea {
  height: 135px;
  display: flex;
  width: 513px;
  padding: 22px 24px 93px 24px;
  align-items: flex-start;
  gap: 40px;

  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  overflow: hidden;
}

.buy-menu-submit-button {
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;

  border: none;
  border-radius: 100px;
  background: #fd9222;

  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buy-menu-submit-button:hover,
.buy-menu-submit-button:focus {
  background: #fcf1e0;
  color: #fd9222;
}
/* MODAL BUY NOW END (PROIECT) */

/* MEDIA (PROIECT) */

@media screen and (429px <= width <= 768px) {
  .hero-page {
    margin: 0px 32px 50px 32px;
  }

  .hero-div {
    background-image: url(../images/chocolate-covered-cocoa-powder-tablet.png);
    height: 890px;
  }

  .hero-container {
    flex-wrap: wrap;
    min-height: 179px;
    height: auto;
  }

  .hero-title {
    font-size: 4vw;
  }

  .button-buy-now {
    font-size: 2.2vw;
  }

  .button-buy-now:hover,
  .button-buy-now:focus {
    font-size: 2.2vw;
  }

  .button-how-made {
    font-size: 2.2vw;
  }

  .button-how-made:hover,
  .button-how-made:focus {
    font-size: 2.2vw;
  }

  .hero-cointainer-second {
    flex-wrap: wrap;
    gap: 32px;
    height: auto;
  }

  /* SECTION 3 */
  .section-three-div {
    margin: 100px 31px 100px 32px;
  }

  .section-three-p {
    width: auto;
    max-width: 486px;
  }

  .section-three-card-chocolate {
    width: 336px;
    height: 270px;
  }

  .section-three-card-chocolate img {
    margin: auto;
  }

  .section-three-card-milk {
    width: 336px;
    height: 270px;
  }

  .section-three-card-milk img {
    margin: auto;
  }

  .section-three-card-nuts {
    width: 336px;
    height: 270px;
  }

  .section-three-card-nuts img {
    margin: auto;
  }

  .section-three-card-sweet {
    width: 336px;
    height: 270px;
  }

  .section-three-card-sweet img {
    margin: auto;
  }

  .section-three-flip-card-chocolate {
    width: 336px;
    height: 270px;
  }

  .section-three-flip-card-chocolate-outer-p {
    width: 280px;
    height: 146px;
  }

  /* MODAL */
  .modal-buy {
    width: 80%;
  }

  .modal-buy-list {
    flex-wrap: wrap;
  }

  .buy-menu-input-text-email {
    width: 60vw;
  }

  .buy-menu-input-text-phone {
    width: 60vw;
  }

  .buy-menu-input-text-credit-card {
    width: 60vw;
  }

  .buy-menu-input-text-textarea {
    width: 60vw;
  }

  .buy-menu-input-text {
    font-size: 2.5vw;
  }

  /* ALTELE */
  .section-two-div {
    flex-wrap: wrap;
  }

  .navigation {
    display: none;
  }

  .header-socials {
    display: none;
  }
}

@media screen and (max-width: 428px) {
  /* HERO */
  .hero-page {
    margin: 0px 20px 71px 20px;
    width: auto;
    height: 621px;
  }

  .hero-div {
    background-image: url(../images/chocolate-covered-cocoa-powder-phone.png);
    height: 621px;
  }

  .hero-container {
    margin-bottom: 60px;
    padding: 0px 20px;
  }

  .hero-title {
    width: 80vw;
    height: 72px;

    color: #fff;
    font-size: 5vw;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.6px;
  }

  .hero-cointainer-second {
    flex-wrap: wrap;
    gap: 32px;
  }

  .button-buy-now {
    padding: 12px 28px;
    font-size: 3vw;
  }

  .button-buy-now:hover,
  .button-buy-now:focus {
    padding: 12px 28px;
    font-size: 3vw;
  }

  .button-how-made {
    padding: 12px 28px;
    font-size: 3vw;
  }

  .button-how-made:hover,
  .button-how-made:focus {
    padding: 12px 28px;
    font-size: 3vw;
  }

  /* SECTION 3 */
  .section-three-header {
    width: 283px;

    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
  }

  .section-three-span {
    color: #fd9222;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
  }

  .section-three-div {
    margin: 72px 20px 72px 20px;
  }

  .section-three-p {
    width: auto;
    max-width: 335px;
  }

  .section-three-card-chocolate {
    width: 336px;
    height: 270px;
  }

  .section-three-card-chocolate img {
    margin: auto;
  }

  .section-three-card-milk {
    width: 336px;
    height: 270px;
  }

  .section-three-card-milk img {
    margin: auto;
  }

  .section-three-card-nuts {
    width: 336px;
    height: 270px;
  }

  .section-three-card-nuts img {
    margin: auto;
  }

  .section-three-card-sweet {
    width: 336px;
    height: 270px;
  }

  .section-three-card-sweet img {
    margin: auto;
  }

  .section-three-flip-card-chocolate {
    width: 336px;
    height: 270px;
  }

  .section-three-flip-card-chocolate-outer-p {
    width: 280px;
    height: 146px;
  }

  /* MODAL */

  .modal-buy {
    width: 311px;
  }

  .modal-buy-list {
    display: flex;
    flex-wrap: wrap;
  }

  .modal-buy-list-cards {
    flex-direction: row;
    align-items: center;
    gap: 77px;
  }

  .modal-buy-list-cards-img {
    width: 84px;
    height: 69px;
  }

  .buy-menu-form {
    padding: 32px 24px 32px 24px;
  }

  .buy-menu-lable-text {
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 116.667%;
    letter-spacing: -0.24px;
  }

  .buy-menu-input-text {
    color: rgba(64, 64, 64, 0.3);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .buy-menu-lable-div-personal-input {
    gap: 14px;
  }

  .buy-menu-input-text-personal {
    padding: 14px 18px;
    width: 263px;
  }

  .buy-menu-input-text-email {
    padding: 14px 18px;
    width: 263px;
  }

  .buy-menu-input-text-phone {
    padding: 14px 18px;
    width: 263px;
    padding-left: 110px;
  }

  .flag {
    padding-right: 8px;
    left: 18px;

    gap: 8px;

    background: #fafafa;
    box-shadow: 2.722px 0px 0px 0px rgba(0, 0, 0, 0.1);

    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .flag img {
    width: 24px;
    height: 18px;
  }

  .buy-menu-input-text-credit-card {
    padding: 14px 18px;
    width: 263px;
  }

  .buy-menu-input-text-textarea {
    padding: 14px 18px;
    width: 263px;
  }

  .buy-menu-submit-button {
    display: inline-flex;
    padding: 12px 28px;
    align-items: flex-start;
    gap: 14px;

    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  /* ALTELE */
  .header-chocholate {
    margin: 0;
  }

  .section-two-div {
    display: none;
  }

  .section-two-div {
    flex-wrap: wrap;
  }

  .navigation {
    display: none;
  }

  .header-socials {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .section-three-card-chocolate {
    width: 310px;
    height: 270px;
  }

  .section-three-card-chocolate img {
    margin: auto;
  }

  .section-three-card-milk {
    width: 310px;
    height: 270px;
  }

  .section-three-card-milk img {
    margin: auto;
  }

  .section-three-card-nuts {
    width: 310px;
    height: 270px;
  }

  .section-three-card-nuts img {
    margin: auto;
  }

  .section-three-card-sweet {
    width: 310px;
    height: 270px;
  }

  .section-three-card-sweet img {
    margin: auto;
  }

  .section-three-flip-card-chocolate {
    width: 310px;
    height: 270px;
  }

  .section-three-flip-card-chocolate-outer-p {
    width: 280px;
    height: 146px;
  }

  /* MODAL */

  /* ALTELE */
  .header-chocholate {
    margin: 0;
  }

  .section-two-div {
    display: none;
  }

  .section-two-div {
    flex-wrap: wrap;
  }

  .navigation {
    display: none;
  }

  .header-socials {
    display: none;
  }
}

/* MEDIA END (PROIECT) */
